/* TEXT */
h1 {
  text-align: center;
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  src: "fonts/OpenSans-Bold";
  font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
  text-transform: uppercase;
}

h3 {
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  src: "fonts/OpenSans-Bold";
  font-size: clamp(1.25rem, 4vw + 1rem, 2.25rem);
  text-transform: uppercase;
  color: #FF8552;
}

p {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  src: "fonts/OpenSans-Regular";
  line-height: 2;
  text-justify: inner-character;
  text-align: justify;
}

/* IMAGE */
img {
  max-width: 100%;
  display: block;
}

/* NAV */
.logo {
  width: 40px;
  height: 40px;

}

.nav {
  margin: 0px;
  width: 100%;
  height: 40px;
  background-color: black;
}

nav {
  margin-top: -90px;
  margin-left: 50px;
}

a {
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  src: "fonts/OpenSans-Bold";
  color: white;
  margin: 30px;
}

/* HEADER */
.header {
  padding: 20px;
  align-self: center;
  align-items: center;
  height: 300px;
  margin: 0px;
  margin-block-end: 50px;
  background-size: cover;
  align-content: center;
  text-align: center;
}

.header > h1 {
  color: rgb(255, 255, 255);
}

.header > p {
  text-align: center;
  color: white;
}

button {
  color: white;
  background-color: #FF8552;
  border: 2px;
  border-color: #FF8552;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  position: relative;
}

/* INFORMATION BLOCK */
*{
  box-sizing: border-box;
}

main {
  margin-left: clamp(5%, 2.5vw, 0%);
  margin-right: clamp(5%, 2.5vw, 30%);
  margin-block-end: 150px;
}

.itemImg :first-child{
  display: block;
  margin: auto;
}

@media (min-width: 1000px) {
  .block1_parent,
  .block2_parent,
  .block3_parent,
  .block4_parent,
  .block5_parent{
  display: flex;
  justify-content:  center;
  align-items: center;
  }

  .itemText {
    width: 800px;
    margin: 20px;
  }
}

/* CTA */
.cta {
  margin-top: 50px;
  background-color: rgb(245, 245, 245);
}

form {
  margin: auto;
  font-family:  Arial, Helvetica, sans-serif;
  color: rgb(64, 118, 235);
}

form ::content {
  margin-block-end: 5px;
}

.cta_item2 {
  align-self:  center;
}

@media (min-width: 700px) {
.cta {
  margin: 0;
}

.cta_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.cta_item1 {
  width: 250px;
  height: 250px;
}

.cta_item1,
.cta_item2 {
  margin:10px;
}
}

/* CONTACT */
@media (min-width: 700px) {
.contact_parent {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.contact_child1,
.contact_child2 {
  width: 500px;
  margin: 10px;
}
}

/* FOOTER */
footer {
  height: 300px;
  background-color: rgb(218, 218, 218);
  padding: 0px;
}