/* TEXT */
h1 {
  text-align: center;
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  src: url(https://repl.it/@ShantanuHalder/shal4701DECO1016A5#OpenSans-Bold.ttf);
  font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
  text-transform: uppercase;
}

h3 {
  font-family: OpenSans-Bold, Arial, Helvetica, sans-serif;
  src: url(https://repl.it/@ShantanuHalder/shal4701DECO1016A5#OpenSans-Bold.ttf);
  font-size: clamp(0.75rem, 4vw + 1rem, 1.75rem);
  text-transform: uppercase;
  color: #FF8552;
}

p {
  font-family: OpenSans-Regular, Arial, Helvetica, sans-serif;
  src: url(https://repl.it/@ShantanuHalder/shal4701DECO1016A5#OpenSans-Regular.ttf);
  line-height: 2;
  text-justify: inner-character;
  text-align: justify;
}

/* IMAGE */
img {
  max-width: 100%;
  display: block;
}

/* .img_left, .img_right {
 width: clamp(275px, 2.5vw, 551px);
 height: clamp(180px, 2.5vw, 360px);
} */

/* CONTENT */
main {
  margin-left: clamp(5%, 1vw, 15%);
  margin-right: clamp(5%, 1vw, 15%);
}

.body_left {
  position: relative;
}